<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">




<suite name="TestNG Regression Suite" verbose="3" parallel="tests" thread-count="3" >


 <test name="Google Test _ chrome">
  <parameter name= "browser" value="chrome"/>
  <parameter name="url" value="https://www.google.com/"/>
  <classes>
   <class name="myTestTestNg.GoogleTest" />
  </classes>
 </test>


 <test name="I am Happy with testNG">
  <classes>
   <class name="myTestTestNg.OpenCartLoginTest" />
   <parameter name="browser" value="edge"/>
   <parameter name="url" value= "https://naveenautomationlabs.com/opencart/index.php?route=account/register"/>
  </classes>
 </test>




 <test name="OrangeHRM Test">
	<parameter name="browser" value="firefox"/>
	<parameter name="url" value="https://www.orangehrm.com/en/contact-sales"/>
  <classes>
   <class name="myTestTestNg.OrangeHrmTest" />
  </classes>
 </test>


</suite>